<div id="sidebar" class='col-md-4 sidebar-expanded d-none d-md-block'>
  <div class='sticky-top sticky-offset'>
    <!--
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Filter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">Save</a>
      </li>
    </ul>-->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form method='get' action="/list">
          <div class="form-group">
            <h4>Search for a dungon:</h4>
            <p>Search by dungeon name:</p>
            <label for="room-name" class='sr-only'>Search for a room or dungeon by:</label>
            <input name='roomname' class="form-control" id="room-name" type="text" focus-first>
          </div>
          <div class="form-group">
            <p>Or by author name:</p>
            <label for="author-name" class='sr-only'>Or by author:</label>
            <input name='authorname' class="form-control" id="author-name" type="text">
          </div>
          <div class="form-group">
            <p>Search by size:</p>
            <div class='input-group'>
              <label for="room-min-width" class='sr-only'>Min Width</label>
              X: &nbsp;<input name='minwidth' class="form-control" id="room-min-width" type="number" placeholder="0">
              <div class='spacing'>&ndash;</div>
              <label for="room-max-width" class='sr-only'>Max Width</label>
              <input name='maxwidth' class="form-control" id="room-max-width" type="number" placeholder="100">
              <div class='spacing'></div>
              <label for="room-width-units" class='sr-only'>Width Units</label>
              <select name="widthunits" class="form-control">
                <option value="units">Units</option>
                <option value="ft">Feet</option>
                <option value="m">Meters</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class='input-group'>
              <label for="room-min-height" class='sr-only'>Min Height</label>
              Y: &nbsp;<input name='minheight' class="form-control" id="room-min-height" type="number" placeholder="0">
              <p class='spacing'>&ndash;</p>
              <label for="room-max-height" class='sr-only'>Max Height</label>
              <input name='maxheight' class="form-control" id="room-max-height" type="number" placeholder="100">
              <div class='spacing'></div>
              <label for="room-height-units" class='sr-only'>Height Units</label>
              <select name="heightunits" class="form-control">
                <option value="units">Units</option>
                <option value="ft">Feet</option>
                <option value="m">Meters</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <p>Filter your results by common tags:</p>
            <label for="tags" class='sr-only'>Tags</label>
            <input name='tags' class="form-control" id="tags" type="text" placeholder="filter by tags">
          </div>
          <div class="form-group" style="width:32%; display: inline-block;">
            <div class='input-group'>
             <div class="checkbox">
                 <!--<label>
                  <input name='scaling' type="checkbox">Allow Scaling?
                </label>-->
                <label>
                    <input name ='unitmatch' type="checkbox">Match units?
                  </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value='submit' class="btn-dark btn-lg btn-block">
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <form method='get' action="/filter">
          <div class="form-group">
            <p>Filter your existing results by:</p>
            <label for="room-name" class='sr-only'>Search for a room or dungeon by:</label>
            <input name='roomname' class="form-control" id="room-name" type="text" focus-first>
          </div>
          <div class="form-group">
            <p>Search by size:</p>
            <div class='input-group'>
              <label for="room-min-width" class='sr-only'>Min Width</label>
              <input name='minwidth' class="form-control" id="room-min-width" type="number" placeholder="0">
              <div class='spacing'>&ndash;</div>
              <label for="room-max-width" class='sr-only'>Max Width</label>
              <input name='maxwidth' class="form-control" id="room-max-width" type="number" placeholder="100">
              <div class='spacing'></div>
              <label for="room-width-units" class='sr-only'>Width Units</label>
              <select name="widthunits" class="form-control">
                <option value="units">Units</option>
                <option value="ft">Feet</option>
                <option value="m">Meters</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class='input-group'>
              <label for="room-min-height" class='sr-only'>Min Height</label>
              <input name='minheight' class="form-control" id="room-min-height" type="number" placeholder="0">
              <p class='spacing'>&ndash;</p>
              <label for="room-max-height" class='sr-only'>Max Height</label>
              <input name='maxheight' class="form-control" id="room-max-height" type="number" placeholder="100">
              <div class='spacing'></div>
              <label for="room-height-units" class='sr-only'>Height Units</label>
              <select name="heightunits" class="form-control">
                <option value="units">Units</option>
                <option value="ft">Feet</option>
                <option value="m">Meters</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <p>Filter your results by common tags:</p>
            <label for="tags" class='sr-only'>Tags</label>
            <input name='tags' class="form-control" id="tags" type="text" placeholder="filter by tags">
          </div>
          <div class="form-group" style="width:32%; display: inline-block;">
            <div class='input-group'>
              <div class="checkbox">
                <label>
                  <input type="checkbox">Allow Scaling?
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value='submit' class="btn-dark btn-lg btn-block">
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">c...</div>
    </div>
  </div>
</div>
