<div id="sidebar" class='col-md-4'>
  <h1>This is the sidebar</h1>
  <div id='searchtab'>
    <div class="upload-form">
      <hr />
      <form method='get' action="/list">
        <div class="form-group">
          <p>Search for a room or dungeon by:</p>
          <label for="room-name" class='sr-only'>Search for a room or dungeon by:</label>
          <input name='roomname' class="form-control" id="room-name" type="text" focus-first>
        </div>
        <div class="form-group">
          <p>Search by size:</p>
          <div class='input-group'>
            <label for="room-min-width" class='sr-only'>Min Width</label>
            <input name='minwidth' class="form-control" id="room-min-width" type="number" placeholder="0">
            <div class='spacing'>&ndash;</div>
            <label for="room-max-width" class='sr-only'>Max Width</label>
            <input name='maxwidth' class="form-control" id="room-max-width" type="number" placeholder="100">
            <div class='spacing'></div>
            <label for="room-width-units" class='sr-only'>Width Units</label>
            <select name="widthunits" class="form-control">
              <option value="units">Units</option>
              <option value="ft">Feet</option>
              <option value="m">Meters</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class='input-group'>
            <label for="room-min-height" class='sr-only'>Min Height</label>
            <input name='minheight' class="form-control" id="room-min-height" type="number" placeholder="0">
            <p class='spacing'>&ndash;</p>
            <label for="room-max-height" class='sr-only'>Max Height</label>
            <input name='maxheight' class="form-control" id="room-max-height" type="number" placeholder="100">
            <div class='spacing'></div>
            <label for="room-height-units" class='sr-only'>Height Units</label>
            <select name="heightunits" class="form-control">
              <option value="units">Units</option>
              <option value="ft">Feet</option>
              <option value="m">Meters</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <p>Filter your results by common tags:</p>
          <label for="tags" class='sr-only'>Tags</label>
          <input name='tags' class="form-control" id="tags" type="text" placeholder="filter by tags">
        </div>
        <div class="form-group" style="width:32%; display: inline-block;">
          <div class='input-group'>
            <div class="checkbox">
              <label>
                <input type="checkbox">Allow Scaling?
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value='submit' class="btn-dark btn-lg btn-block">
        </div>
      </form>
    </div>
  </div>
</div>
