<div id='parent' class='row'>
  <%- partial('partials/sidebar.ejs') %>
  <%- partial('partials/rooms.ejs', {Room: Room}) %>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
