<div id="upload">
  <div class="container">
    <h1 class="text-center">Upload a room</h1>
    <div class="upload-form">
      <p class="text-center">Let's upload a room! Thanks for adding to the mappr dba.</p>
      <hr />
      <form method='post' action="/room/upload" enctype="multipart/form-data">
        <div class="form-group">
          <label for="author">Author Name</label>
          <input name='author' class="form-control" id="author" type="text" placeholder="Aye Cool Guy" autocomplete="name"
            focus-first>
        </div>
        <div class="form-group">
          <label for="room">Room Name</label>
          <input name='room' class="form-control" id="room" type="text" placeholder="The Chinese Room">
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <input name='tags' class="form-control" id="tags" type="text" placeholder="fantasy, scifi">
        </div>
        <div class="form-group">
          <label for="notes">Creator Notes</label>
          <input name='notes' class="form-control" id="notes" type="text" placeholder="these are notes">
        </div>
        <div class="form-group">
          <label for="image">Map file</label>
          <input name='image' class="form-control" id="image" type="file">
        </div>
        <div class="form-group">
          <input type="submit" value='submit' class="btn-dark btn-lg btn-block">
        </div>
      </form>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
