#sidebar {
    background-color: @backgroundlight;
    padding-right: 0px;
    border-right: 2px solid @background;
    /*position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    padding-left: 0px;
    */


  @media (max-width: 500px) {
    code {
      word-break: break-all;
    }
  }
}


.tab-pane {
  padding-left: 1em;
  padding-right: 1em;
  /*position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  
  */

  .upload-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.spacing {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

.tab-content{
  background-color: @backgroundlight;
}

.sticky-offset{
  top: 61px;
}

.form-group h4 {
  padding-top: 20px;
}