<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <!--<div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="ship" alt="A ship hovering a few feet over the surface of the water, bearing a flagpole with the Sails.js logo" src="/images/hero-ship.png"/>
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4">A new <strong>Sails</strong> app.</h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Dive in</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="top hero d-flex flex-column justify-content-center" full-page-hero>
    <div id="logobox">
      <h1 class="display-1" id="title">Mappr</h1>
    </div>

    <div class="more-info-text" id="splashscroll" @click="clickHeroButton()">
      <div class="text">Dive in</div>
      <div class="icon">&darr;</div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>Description</h3>
      </div>
      <div class="features">
        <div class="row">
          <p>
            MAPPR exists to fill a conceptual and logistical gap in tabletop roleplaying. MAPPR exists to provide a
            tool that will help tabletop gamers build and share maps for
            use in their games. In particular, the site should allow users to:</p>
          <ol>
            <li>Build Dungeons: Users should be able to select Rooms, place them on a map, and then export the result
              as an image file.</li>
            <li>Share Dungeons and Rooms: Users should be able to upload maps they've assembled as well as room
              components. The site should support a sufficiently robust tagging system so that users can search and
              filter rooms that have been uploaded.</li>
          </ol>
          <p>The successful inclusion of these features will qualify the site as a success, but the site also has a few
            stretch goals:</p>
          <ol>
            <li>Build Rooms: Users should be able to assemble Rooms from Elements.</li>
            <li>Build Encounters: Users should be able to assign traps, monsters, and other features to rooms, creating
              Encounters attached to specific rooms.</li>
            <li>Skin Dungeons: This means that Elements, Rooms, and Encounters should be mechanically and artistically
              linked via tags to semantic content, allowing the user to change them on-the-fly. Ex: A room with
              table, chairs, solid walls, and weapon rack can be tagged with the [Fantasy] art tag, which turns these
              into a wooden table & chairs, stone walls, and medieval sword rack. Applying the [SF] tag will default
              it to metal walls, futuristic chairs, and a firearm weapon rack.</li>
            <li>Generate Dungeons: Given a set of Rooms, the tool will use a generative algorithm to create a dungeon
              layout. There's existing research that compares building design & layout to the sort of algorithms that
              have been used to map plant growth, for example--I'd look into that work and use some similar algorithm</li>
          </ol>
          <p>The anticipated audience for this site is the tabletop gaming community. As part of the greater effort
            towards inclusivity and diversity in gaming, I hope to aim this site towards the wider community and make
            its features easy-to-use and accessible. New DMs and those just entering the hobby should be able to
            immediately access MAPPR and be able to use it to generate content</p>
        </div>
        <a class="btn btn-outline-info mt-5" href="/faq">Learn more</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="about text-center">
      <h3>Description</h3>
    </div>
    <div class='features'>
      <div class='row'>
        <p>The base stage of my site will require users to do the following:</p>
        <ol>
          <li>Upload rooms: Users can upload an image file and tag it with several desired attributes: <ol>
              <li>Room Name [textbox]</li>
              <li>Room Author [textbox]</li>
              <li>Dimensions [numeric] & Units [optgroup]</li>
              <li>Art and System Tags [text box]</li>
              <li>Identify entrances and exits to their uploaded room when the room is laid out on a grid [web
                API interaction]</li>
              <li>Room notes [text area]</li>
            </ol>
          </li>
          <li>Search and filter the uploaded rooms: users can parse through the extant database of rooms and use them
            to assemble a dungeon:<ol>
              <li>Tag search [textbox]</li>
              <li>Name search[textbox]</li>
              <li>Dimension constraint search (min,max, units) [numeric, numeric, opt]</li>
              <li>#Room entrances & exits(positions)[checkbox for N,S,E,W]</li>
              <li>Checkbox for allowing room flipping [checkbox]</li>
              <li>Checkbox for allowing room scaling (min, max) [numerics]</li>
            </ol>
          </li>
          <li>Assemble a dungeon from a set of rooms<ul>
              <li>Author Name [textbox]</li>
              <li>Author notes (overall)[textarea]</li>
              <li>Author notes (per room)[textarea]</li>
              <li>Area for creator notes on the contents / design of the dungeon[text area]</li>
            </ul>
          </li>
        </ol>
        <p>The stretch goal functionality would allow the users to do all the things listed in the above stretch goals,
          but would also necessitate the creation and management of user accounts.</p>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
